# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/1337/
/broadcast/*/1338/
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

deploy/
json/
python/
Makefile

BUGS
